<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Food Shopping</h1>
            <p class ='bg-primary'>We Offer Good Food</p>
        </div>

        <h2 class='text-danger'> caution!</h2>
       <p><%= tagline %></p>

       <ul>
             <% drinks.forEach(function(drink) { %>
                 <li><%= drink.name %> - <%= drink.drunkness %></li>
             <% }); %>
        </ul>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>